* {
	box-sizing: border-box;
}

html {
	font-size: @font-size;
}

// we'll setup text shadow and general filter effect so
// we can then add blend modes to all workspace parts
body {
  text-shadow:
		0 0  6px currentColor;
  font-size: @font-size;
  color: @text-color;
	background: black;
}

atom-workspace {
	filter:
		contrast(1.1)
		brightness(1.1)
		url("https://ugotsta.github.io/svg/filters.svg#f131");
	background-color: @ui-bg;// @base-background-color;//@input-background-color;//@app-background-color;
	background-image:
    url(atom://waterpaper-ui/assets/waterpaper.jpg);
  background-size: 900px;
	background-blend-mode: multiply;
	mix-blend-mode: multiply;
  box-shadow:
		inset 0 0 50px rgba(0,0,0,0.5),
		inset 0 0 300px rgba(100,100,40,0.5);
}

atom-workspace::after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

atom-pane {
  border-right: 1px solid @base-border-color;
  &:last-child {
    border-right: none;
  }
}

// Scrollbars ------------------------------------

.scrollbars-visible-always {
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}

	::-webkit-scrollbar-track {
		background: @scrollbar-background-color;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 5px;
		border: 3px solid @scrollbar-background-color;
		background: @scrollbar-color;
		background-clip: content-box;
	}

	::-webkit-scrollbar-corner {
		background: @scrollbar-background-color;
	}

	::-webkit-scrollbar-thumb:vertical:active {
		border-radius: 0;
		border-left-width: 0;
		border-right-width: 0;
	}

	::-webkit-scrollbar-thumb:horizontal:active {
		border-radius: 0;
		border-top-width: 0;
		border-bottom-width: 0;
	}

	atom-text-editor {
		::-webkit-scrollbar-track {
			background: @scrollbar-background-color-editor;
		}
		::-webkit-scrollbar-corner {
			background: @scrollbar-background-color-editor;
		}
		::-webkit-scrollbar-thumb {
			border-color: @scrollbar-background-color-editor;
			background: @scrollbar-color-editor;
		}
	}
}

// TODO: Move to a better place, not sure where it gets used
.caret {
  border-top: 5px solid #fff;
  margin-top: -1px;
}
